In [1]:
#20BKT0019
#BARATH KUMAR S
# barathkumar.s2020a@vitstudent.ac.in
# MOBILE NUMBER: 8072709703

In [2]:
import numpy as np
import pandas as pd

In [3]:
# TASK 1
# Create a pandas dataframe (DataFrame name as 'df') with numpy random values (4 features and 4 observation)

rand_val_1=pd.Series(np.random.randint(200,size=(4)))
rand_val_2=pd.Series(np.random.randint(100,size=(4)))
rand_val_3=pd.Series(np.random.rand(4))
rand_val_4=pd.Series(np.random.randint(25,size=(4)))
df=pd.DataFrame([rand_val_1,rand_val_2,rand_val_3,rand_val_4])
print("Before Transpose\n",df)
df=df.T
print("DataFrame\n",df)

Before Transpose
             0           1           2          3
0  136.000000  140.000000  164.000000  17.000000
1   99.000000   92.000000   40.000000  65.000000
2    0.277028    0.087502    0.090251   0.707892
3   22.000000   21.000000   17.000000   6.000000
DataFrame
        0     1         2     3
0  136.0  99.0  0.277028  22.0
1  140.0  92.0  0.087502  21.0
2  164.0  40.0  0.090251  17.0
3   17.0  65.0  0.707892   6.0

In [4]:
#TASK 2
#Rename the task - 1 'df' dataframe column names to 'Random value 1', 'Random value 2', 'Random value 3' & 'Random value 4'
print("The column names of the data frame before change:",df.columns)

df.columns=['Random value 1','Random value 2','Random value 3','Random value 4']
print("The dataframe after the change of the column names with random values:\n",df)

The column names of the data frame before change: RangeIndex(start=0, stop=4, step=1)
The dataframe after the change of the column names with random values:
    Random value 1  Random value 2  Random value 3  Random value 4
0           136.0            99.0        0.277028            22.0
1           140.0            92.0        0.087502            21.0
2           164.0            40.0        0.090251            17.0
3            17.0            65.0        0.707892             6.0

In [5]:
#TASK 3
#Find the descriptive statistics of the 'df' dataframe.

print("Descriptive statistics of the dataframe:\n",df.describe())

Descriptive statistics of the dataframe:
        Random value 1  Random value 2  Random value 3  Random value 4
count        4.000000        4.000000        4.000000        4.000000
mean       114.250000       74.000000        0.290668       16.500000
std         66.001894       26.993826        0.291950        7.325754
min         17.000000       40.000000        0.087502        6.000000
25%        106.250000       58.750000        0.089564       14.250000
50%        138.000000       78.500000        0.183639       19.000000
75%        146.000000       93.750000        0.384744       21.250000
max        164.000000       99.000000        0.707892       22.000000

In [6]:
#TASK 4
#Check for the null values in 'df' and 
print("Any null values?:\n",df.isnull())
print("sum of null values?:\n",df.isnull().sum())

Any null values?:
    Random value 1  Random value 2  Random value 3  Random value 4
0           False           False           False           False
1           False           False           False           False
2           False           False           False           False
3           False           False           False           False
sum of null values?:
 Random value 1    0
Random value 2    0
Random value 3    0
Random value 4    0
dtype: int64

In [7]:
#TASK 4
#find the data type of the columns.
for i in df.columns:
  print("The column name",i,"--->",df[i].dtype)
#or

print(df.info())

The column name Random value 1 ---> float64
The column name Random value 2 ---> float64
The column name Random value 3 ---> float64
The column name Random value 4 ---> float64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Random value 1  4 non-null      float64
 1   Random value 2  4 non-null      float64
 2   Random value 3  4 non-null      float64
 3   Random value 4  4 non-null      float64
dtypes: float64(4)
memory usage: 256.0 bytes
None

In [9]:
#TASK 5
#Display the 'Random value 2' & 'Random value 3' columns with location method and index location method
print("using loc method:\n",df.loc[:,'Random value 2':'Random value 3'])

using loc method:
    Random value 2  Random value 3
0            99.0        0.277028
1            92.0        0.087502
2            40.0        0.090251
3            65.0        0.707892

In [10]:
print("using iloc method:\n",df.iloc[:,1:3])

using iloc method:
    Random value 2  Random value 3
0            99.0        0.277028
1            92.0        0.087502
2            40.0        0.090251
3            65.0        0.707892